<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  <script src="./index.js"></script>
</head>
<body>

    <div>
      <ul class="chat-msg" id="chatMsg">
        <!-- <li id="chatMsgLi"></li> -->
      </ul>
    </div>
    
  <form class="product-form"  onsubmit="sendMessage(event)">
    <div class="form-control">
      <label for="message"></label>
      <input name="message" id="message" type="message" >
     
    </div>
    <button class="btn" type="submit" style="float: right">Send</button>
  
  </form>
   


 

  
    
     
</body>
</html>