<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <form class="product-form" method="POST" onsubmit="chatData(event)">
    <div class="form-control">
      <label for="message"></label>
      <input id="message" type="message" name="message">
    </div>
    <button class="btn" type="submit" style="float: right">Send</button>
  
  </form>
</body>
</html>