.form-control {
  margin: 1rem 0;

}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;

}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 15px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.product-form {
  width: 38rem;
  line-height: 2;
  max-width: 100%;
  margin: auto;
  display: block;
  position: absolute;
  bottom: 5px;
  right:100px; 

}

.btn {
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 20px;
  cursor: pointer;

}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

.chat-msg{
  display: block;
  position: absolute;
  right: 110px;
  
}
 