 
 h2 {
  align-items: center;
 }
  form {
   background-color: rgb(92, 207, 169);
   text-align: center;
 }

 input {
   font-size: 30px;
   color: green;
   width: 550px;
 }

 .pageHeadline {
   text-align: center;

 }