 
 h2 {
  align-items: center;
 }
  form {
   background-color: rgb(52, 237, 206);
   text-align: center;
 }

 input {
   font-size: 30px;
   color: black;
   width: 550px;
 }

 .pageHeadline {
   text-align: center;

 }